<div class="contenedor-descrip-pag">
    <div class="description">
        <i class="bi bi-cloud-plus-fill"></i>
        <h2 class="titulo subTitulo">Proyects</h2>
        <div class="descripEducation positionCards">
       
      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>
      


      

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="//i.ibb.co/wRfp8DT/Whats-App-Image-2022-08-23-at-4-56-59-PM.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <i class="bi bi-x-octagon-fill"></i>
          <i class="bi bi-pencil-fill"></i>
        </div>
      </div>
      
        </div>
        </div>

       
