<div class="contenedora">
  <h1 class="titulo">Fabiola Andrea Romano</h1>

    <div class="sub-contenedora">
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed iusto maiores. Error illum aspernatur tempore similique! Aliquam aliquid natus tempora quia quisquam voluptas nihil rerum, non nam, cum blanditiis.</p>
        </div>
        <div class="circulo-img">   
        <div class="div-img-perfil">
        <span class="welcome">Bienvenidos a mi portfolio</span> 
        </div>
      </div>

<nav class="nav-redes">
          <a href="https://www.facebook.com/fabi.romano47/"
          target="_blank" rel="noreferrer noopener"
            id="facebook" 
            alt="logo facebook"
            class="hover-nav"><i class="bi bi-facebook background-color"></i>
           </a>

         <a href="https://www.instagram.com/fabiromano22/"
         target="_blank" 
         rel="noreferrer noopener"
         id="instagram" 
         alt="logo instagram"
         class="hover-nav"><i class="bi bi-instagram background-color"></i>
            </a>

          <a href="https://github.com/FabiRomano" 
          target="_blank" rel="noreferrer noopener"
            id="github" 
            alt="logo gitgub"
            class="hover-nav"><i class="bi bi-github background-color"></i>
          </a>


          <a href="https://twitter.com/FabiRomano2" 
          target="_blank" 
          rel="noreferrer noopener"
            id="twiter" 
            alt="logo twiter"
            class="hover-nav"><i class="bi bi-twitter background-color"></i>
          </a>

          <a href="https://www.linkedin.com/in/fabi-romano" 
          target="_blank" 
          rel="noreferrer noopener"
            id="linkedin" 
            alt="logo linkedin"
            class="hover-nav"><i class="bi bi-linkedin background-color"></i>
          </a>
</nav>
<hr>

<nav class="nav-redes nav-paginas">
  
       
            <a href="/acercade" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Sobre Mi</a
            >
         
         
            <a href="/educacion" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Educacion</a
            >
         
         
            <a href="/experiencia" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Experiencia</a
            >
         
         
            <a href="/proyecto" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Proyectos</a
            >
         
         
            <a href="/hys" target="_blank" rel="noreferrer noopener" class="style-pag"
              >H & S Skills</a
            >
         
         
            <a href="/contacto" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Contacto</a
            >
         
    
</nav>

</div>
