<div class="contenedora">
  <div class="sub-contenedora">

  <h1 class="titulo">Fabiola Andrea Romano</h1>
  <div class="circulo-img">   
    <div class="div-img-perfil">
      <!-- /*...img http....*/ -->
    </div>
  </div>

  </div>
<div class="contenedor-descrip-pag">
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed iusto maiores. Error illum aspernatur tempore similique! Aliquam aliquid natus tempora quia quisquam voluptas nihil rerum, non nam, cum blanditiis.</p>
        </div>
     


        
        <nav class="nav-paginas nav-redes">
          
          
            <a href="/acercade" target="_blank" rel="noreferrer noopener" class="style-pag"
            >Sobre Mi</a
            >
         
         
            <a href="/educacion" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Educacion</a
            >
         
         
            <a href="/experiencia" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Experiencia</a
            >
         
         
            <a href="/proyecto" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Proyectos</a
            >
         
         
            <a href="/hys" target="_blank" rel="noreferrer noopener" class="style-pag"
              >H & S Skills</a
            >
         
         
            <a href="/contacto" target="_blank" rel="noreferrer noopener" class="style-pag"
              >Contacto</a
            >
         
    
</nav>
</div>
<hr>
</div>
