<div class="sub-contenedora" id="sobreMi">
    <h1 class="titulo">Fabiola Andrea Romano || Developer Web FullStack Jr.
    </h1>
    
    <div class="circulo-img">
        <div class="div-img-perfil">
            <!-- /*...img http....*/ -->
        </div>
    </div>
</div>
<div class="contenedor-descrip-pag">
    
  <div class="description">
    <i class="bi bi-pencil-fill editCentrado"></i>
    <h2 class="titulo subTitulo">About My </h2>
    
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed iusto
        maiores. Error illum aspernatur tempore similique! Aliquam aliquid natus
        tempora quia quisquam voluptas nihil rerum, non nam, cum blanditiis.
      </p>
    </div>

  </div>