<div class="contenedor-descrip-pag">
    <div class="description">
      <h2 class="titulo subTitulo">Experience</h2>
      
      <div class="descripEducation">
        <i class="bi bi-cloud-plus-fill"></i>
  
        <table class="table">
          <thead>
            <tr>
              <td colspan="2">Empresa</td>
              <td colspan="2">Desempeño</td>
              <td colspan="2">Fecha Inicio / Fin</td>
              <td colspan="2">Editar</td>
              <td colspan="2">eliminar</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">lalala</td>
              <td colspan="2">Bachiller C.Politicas</td>
              <td colspan="2">Finalizado</td>
              <td colspan="2"><i class="bi bi-pencil-fill"></i></td>
              <td colspan="2"><i class="bi bi-x-octagon-fill"></i></td>
              
            </tr>
            <tr>
              <td colspan="2">lalala</td>
              <td colspan="2">Bachiller C.Politicas</td>
              <td colspan="2">Finalizado</td>
              <td colspan="2"><i class="bi bi-pencil-fill"></i></td>
              <td colspan="2"><i class="bi bi-x-octagon-fill"></i></td>
            </tr>
  
            <tr>
              <td colspan="2">lalala</td>
              <td colspan="2">Bachiller C.Politicas</td>
              <td colspan="2">Finalizado</td>
              <td colspan="2"><i class="bi bi-pencil-fill"></i></td>
              <td colspan="2"><i class="bi bi-x-octagon-fill"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  